doctype html
html(lang='en')
  head
    title FISH Fisher Advantage Explained
    style.
        dd {
            margin-left: 2em;
        }
  body
    h2 FISH FISHER ADVANTAGE FEATURE
    div.remark
    p.
        The Fisher Advantage feature allows you to give some fishers a monetary
        advantage over the other fishers. This enables study of how participants
        respond when some fishers earn more per fish than others.
    h4 How it works
    p.
        When enabled, certain fishers receive a higher value per fish caught,
        creating an asymmetry in earnings. This can be used to study the effects
        of inequality on cooperation and resource management in the commons
        dilemma.
    h4 Parameters
    p.
        The following parameters control the Fisher Advantage feature:
    dl
        dt Enable fisher advantage
        dd.
            Toggle to enable or disable the feature entirely.
